In [1]:
import pandas as pd

import psycopg2

import time

In [2]:
# 쿼리 조회 시간을 체크
def my_timer(original_function):

    def wrapper(*args, **kwargs):
        t1 = time.time()
        result = original_function(*args, **kwargs)
        t2 = time.time() - t1
        print('{} 함수가 실행된 총 시간: {} 초'.format(original_function.__name__, t2))
        return result

    return wrapper

@my_timer
# DB에서 데이터를 불러오기 위함
def query_select(query, params = []):
    
    username = 'postgres'
    password = 's'
    host = '127.0.0.1'
    port = '5432'
    database = 'synthea'
    
    conn = psycopg2.connect(host = host,
                            user = username,
                            password = password,
                            port=port,
                            database = database
                           )
    
    with conn.cursor() as cursor:
        
        if len(params) > 0:
            cursor.execute(query, params)
        else:
            cursor.execute(query)
            
        headers = [x[0] for x in cursor.description]
        data = cursor.fetchall()
    
    conn.close()
       
    return pd.DataFrame(columns=headers, data=data)

In [3]:
# 같은 날 처방받은 것을 합쳐준다.
qry = """
    with tmp_concept_table(concept_id, concept_name) as (
        values
        (19018935, 'digoxin'),
        (1539411, 'simvastatin'),
        (1539463, 'simvastatin'),
        (19075601, 'clopidogrel'),
        (1115171, 'naproxen')
    )

            select 
                distinct 
                person_id,
                drug_exposure_start_date,
                STRING_AGG(distinct concept_name, ',' order by concept_name) concept_list
            from 
                drug_exposure a
                inner join tmp_concept_table b 
                on drug_concept_id = b.concept_id
            group by
                person_id,
                drug_exposure_start_date
            order by 
                person_id,
                drug_exposure_start_date
    ;
"""

In [4]:
result = query_select(qry)
result

query_select 함수가 실행된 총 시간: 0.16500401496887207 초

      person_id drug_exposure_start_date                     concept_list
0          2955               2016-07-24                         naproxen
1         12111               1995-08-06                         naproxen
2         13576               1958-03-13                         naproxen
3         13576               2017-12-06                          digoxin
4         13576               2018-12-12                          digoxin
...         ...                      ...                              ...
3570    2833968               2019-09-09  clopidogrel,digoxin,simvastatin
3571    2833968               2019-10-14  clopidogrel,digoxin,simvastatin
3572    2833968               2019-11-18  clopidogrel,digoxin,simvastatin
3573    2833968               2019-12-09  clopidogrel,digoxin,simvastatin
3574    2833968               2020-01-06  clopidogrel,digoxin,simvastatin

[3575 rows x 3 columns]

In [5]:
# result에서 나온 concept_list(같은 날 다른 처방을 낸 리스트)를 
# drug_exposure_start_date 기준으로 search 하면서 패턴 리스트를 생성한다.